{% extends 'base.html.twig' %}


{% block body %}
<meta http-equiv="Content-Language" content="tr">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="now">
<center>
	<form method="post" action="{{path('request_sendData')}}">
			<table>
				<tr>
					<td align="center" colspan="2">
						<input type="submit" value="Complete Payment" />
					</td>
				</tr>
			</table>
			<input type="hidden" name="clientid" value="{{clientId}}"> 
			<input type="hidden" name="amount" value="">
			<input type="hidden" name="okUrl" value=""><!--success-->
			<input type="hidden" name="failUrl" value=""><!--feild-->
			<input type="hidden" name="TranType" value="PreAuth">
			<input type="hidden" name="callbackUrl" value="">
			<input type="hidden" name="shopurl" value=""><!--en cas annuler-->
			<input type="hidden" name="currency" value="">
			<input type="hidden" name="rnd" value="">
			<input type="hidden" name="storetype" value="3D_PAY_HOSTING">
			<input type="hidden" name="hashAlgorithm" value="ver3">
			<input type="hidden" name="lang" value="fr">
			<input type="hidden" name="refreshtime" value="5">
			<input type="hidden" name="BillToName" value="">
			<input type="hidden" name="BillToCompany" value="">
			<input type="hidden" name="BillToStreet1" value="">
			<input type="hidden" name="BillToCity" value="">
			<input type="hidden" name="BillToStateProv" value="">
			<input type="hidden" name="BillToPostalCode" value="">
			<input type="hidden" name="BillToCountry" value="504">
			<input type="hidden" name="email" value="">
			<input type="hidden" name="tel" value="">
			<input type="hidden" name="encoding" value="UTF-8">
			<!-- La valeur du paramètre oid doit être unique par transaction -->
			<input type="hidden" name="oid" value="{{commandeId}}"> 
			<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->	
	</form>
</center>
{% endblock %}