{% extends 'base.html.twig' %}
{% block body %}

<meta http-equiv="Content-Language" content="tr">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="now">
</head>

<body onload="javascript:moveWindow()">

	<form name="pay_form" method="post" action="{{urlConfig}}">
			
			{% for key,p in formArray %}
				<input type="hidden" name="{{key}}"  value="{{p|trim }}" /><br />
			{% endfor %}

			<input type="hidden" name="HASH" value="{{hash}}" /><br />;			
		
		
	</form>
	
</form>
	
	  <script type="text/javascript" language="javascript">
        function moveWindow() {
           document.pay_form.submit();
        }
    </script>

</body>


{% endblock %}