{% extends 'base.html.twig' %}

{% block title %}Hello UserDashbordController!{% endblock %}

{% block body %}
<div class="page-banner" style="background-image: url('https://demo.phpscriptpoint.com/carpoint/uploads/page_banners/7eb1650ca5075e2b8c9d96f6ab43839e.jpg')">
	<div class="page-banner-bg"></div>
	<h1>Dashboard</h1>
	<nav>
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item"><a href="{{path('app_home')}}">Home</a></li>
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
	</nav>
</div>
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{% include 'partial/_saidbar_user_dashbord.html.twig'  %}
			</div>
			<div class="col-md-9">

				<div class="row">
					<div class="col-md-6">
						<div class="dashboard-box dashboard-box-1">
							<div class="text">Active Listing Items</div>
							<div class="number">2</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="dashboard-box dashboard-box-2">
							<div class="text">Pending Listing Items</div>
							<div class="number">0</div>
						</div>
					</div>

										<div class="col-md-12">
						<div class="dashboard-box dashboard-box-3">
							<div class="table-responsive">
								<table class="table table-bordered">
									<tbody><tr>
										<td class="w-300">Active Package Name</td>
										<td>Free</td>
									</tr>
									<tr>
										<td>Package Start Date</td>
										<td>
																						15 April, 2022
										</td>
									</tr>
									<tr>
										<td>Package End Date</td>
										<td>
																						16 April, 2028
										</td>
									</tr>
									<tr>
										<td>Listing Allowed</td>
										<td>
											1
										</td>
									</tr>
									<tr>
										<td>Days Remaining</td>
										<td>
											
																						1339
																					</td>
									</tr>
									<tr>
										<td>Featured Listing Allowed?</td>
										<td>
											No
										</td>
									</tr>
								</tbody></table>
							</div>
						</div>
					</div>
					

				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
