<form method="post" action="{{ path('app_sitting_generale_delete', {'id': sitting_generale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sitting_generale.id) }}">
    <button class="btn">Delete</button>
</form>
